<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="alert alert-danger d-flex align-items-center col-6 offset-3 mt-3" role="alert">
        <h4 class="alert-heading" style="font-size: 1rem;"><%=err.message%></h4>
    </div>
</div>